# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific folders
.vscode/
.vs/

# Build results
[Bb]in/
[Oo]bj/

# NuGet packages
*.nupkg
# Uncomment if using NuGet Package Restore
# packages/
# Uncomment if using .NET Core and running `dotnet restore` to restore NuGet packages
# **/project.lock.json
# **/project.fragment.lock.json
# *.nuget/packages/

# Visual Studio Code workspace settings
.vscode/

# Rider settings
.idea/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# MacOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# JetBrains Rider
.idea/
*.sln.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Entity Framework Core migrations
[Mm]igrations/

# Resharper
_ReSharper*/
*.DotSettings.user

# ASP.NET User-specific folders
wwwroot/
